bitsandbytes==0.42.0
datasets==2.21.0
evaluate==0.4.2
huggingface-hub==0.23.2
ignite==1.1.0
matplotlib==3.9.2
numpy==1.26.4
pandas==2.2.2
peft==0.12.0
scikit-learn==1.5.1
scipy==1.14.1
sentence-transformers==3.0.1
tokenizers==0.19.1
torch==2.3.0
tqdm==4.66.4
transformers==4.41.1
